body {
    text-align: center;
    background-color: lightgray;
    margin: 0;
    padding: 2em;
}

.top_banner {
    background-color: darkgray;
}

#nav {
    background-color: darkgray;
    min-height: 100px;
}

.nav_elem {
    font-size: 30px;
    margin: 30px;
}

#footer {
    background-color: darkgray;
}

.foot_elem {
    display: inline;
}

table, th, td {
    border: 2px solid black;
    background-color: blanchedalmond; 
}

table {
    position: relative;
}

th {
    position: sticky;
    padding: 0.25rem;
}

td {
    text-align: left;
    padding: 0.25rem;
}

a {
    color: darkblue;
    text-decoration: underline;
}

#flavor_text {
    font-size: 25px;
}

#graph_link {
    font-size: 30px;
}

#graph_space {
    min-height: 70vmin;
}