<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" />
    <title>Exoplanet Seeker</title>
</head>
<body>
    <nav id = 'nav'>
        <ul>
            <a href="/">Home</a>
            <a href="/data">See the data</a>
        </ul>
    </nav>
    <div id = 'navbar'>
        {% block nav %}{% endblock %}
    </div>
    <div id = 'content'>{% block content %}{% endblock %}</div>
    <div id = 'footer'>
        <p>Created by Guy Jones</p>
        <p>All data courtesy of NASA!!</p>
    </div>  
</body>
</html>