{% extends 'base.html' %}
{% block content %}
<div class="top_banner">
    <h1>Data Page</h1>
    <h2>This is a subset of the data pulled from NASA</h2>
</div>
<a id="graph_link" href="/visual">Go Try Graphing the Data</a>
<div>
    <table style="width:100%">
        <tr>
            <th>Star Name</th>
            <th>Optical Magnitude of the Star</th>
            <th>Estimated Blackbody Temp (in Kelvin)</th>
            <th>Distance in parsecs(3.26 lightyears)</th>
            <th>Planet Name</th>
            <th>Discovery Method</th>
            <th>Number of Planets</th>
            <th>Orbital Period(Days)</th>
            <th>Planet Density(g/cm^3)</th>
            <th>Radius vs Jupiter</th>
        </tr>
        {% for planet in sent_data %}
            <tr>
                <td>{{ planet['pl_hostname'] }}</td>
                <td>{{planet['st_optmag']}}</td>
                <td>{{planet['st_teff']}}</td>
                <td>{{planet['st_dist']}}</td>
                <td>{{ planet['pl_name'] }}</td>
                <td>{{ planet['pl_discmethod']}}</td> 
                <td>{{ planet['pl_pnum'] }}</td>
                <td>{{ planet['pl_orbper'] }}</td>
                <td>{{ planet['pl_dens'] }}</td>
                <td>{{planet['pl_radj']}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}