{% extends 'base.html' %}
{% block content %}
<form method="POST" action="/visual">
    <div>
        <label for="graph type">Graph Type</label>
        <select name="graph_type" id="graph_type">
            <option value="line">Line Graph</option>
            <option value="hist">Histogram</option>
            <option value="bar">Bar Graph</option>
            <option value="scatter">Scatter Plot</option>
        </select>
    </div>
    <div>
        <label for="x axis">X Axis Value</label>
        <select name="x_value" id="x_value">
            <option value="pl_pnum">Number of Planets</option>
            <option value="pl_orbper">Orbital Period</option>
            <option value="pl_dens">Planet Density</option>
            <option value="pl_radj">Radius compared to Jupiter</option>
            <option value="st_optmag">Optical Magnitude</option>
            <option value="st_teff">Estimated Temp of the Star</option>
            <option value="st_dist">Dist to the Star</option>
        </select>
    </div>
    <div>
        <label for="y axis">Y Axis Value</label>
        <select name="y_value" id="y_value">
            <option value="pl_pnum">Number of Planets</option>
            <option value="pl_orbper">Orbital Period</option>
            <option value="pl_dens">Planet Density</option>
            <option value="pl_radj">Radius compared to Jupiter</option>
            <option value="st_optmag">Optical Magnitude</option>
            <option value="st_teff">Estimated Temp of the Star</option>
            <option value="st_dist">Dist to the Star</option>
        </select>
    </div>
    <input type="submit">
</form>
<div id="graph_space">
   <img src="{{image}}" />
</div>
{% endblock %}