{% extends 'base.html' %}
{% block content %}
<form method="POST" action="/visual">
    <div>
        <label for="graph type">Graph Type</label>
        <select name="graph_type" id="graph_type">
            <option value="hist">Histogram</option>
            <option value="bar">Bar Graph</option>
            <option value="scatter">Scatter Plot</option>
        </select>
        <label for="bins">Select number of 'bins' for Histograms</label>
        <input type="number" name="bins" value="bins" min="1" placeholder="1"/>
    </div>
    <div>
        <label for="x axis">X Axis Value</label>
        <select name="x_value" id="x_value">
            <option value="pl_pnum">Number of Planets</option>
            <option value="pl_orbper">Orbital Period</option>
            <option value="pl_dens">Planet Density</option>
            <option value="pl_radj">Radius compared to Jupiter</option>
            <option value="st_optmag">Optical Magnitude</option>
            <option value="st_teff">Estimated Temp of the Star</option>
            <option value="st_dist">Dist to the Star</option>
        </select>
    </div>
    <div>
        <label for="y axis">Y Axis Value</label>
        <select name="y_value" id="y_value">
            <option value="pl_pnum">Number of Planets</option>
            <option value="pl_orbper">Orbital Period</option>
            <option value="pl_dens">Planet Density</option>
            <option value="pl_radj">Radius compared to Jupiter</option>
            <option value="st_optmag">Optical Magnitude</option>
            <option value="st_teff">Estimated Temp of the Star</option>
            <option value="st_dist">Dist to the Star</option>
        </select>
    </div>
    <input type="submit">
</form>
    <div id="graph_space">
        <img src="{{image}}" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>What is a <strong>Histogram</strong>?</h3>
                <p>A Histogram divides all the given values into a certain number of "bins" and shows the vertical height of each bin as the number of values in that bin</p>
            </div>
            <div class="col-sm-4">
                <h3>What is a <strong>Bar Graph</strong>?</h3>
                <p>A Bar Graph takes each value and shows its value as a certain height</p>
            </div>
            <div class="col-sm-4">
                <h3>What is a <strong>Scatter Plot</strong>?</h3>
                <p>A Scatter Plot takes two sets of related values and plots them. This shows the relationship between the values</p>
            </div>
        </div>
    </div>
{% endblock %}